<article class="container note_div col-xl-6 col-lg-6 col-md-12 col-sm-12">
  <h6 class=""> 글쓰기 </h6>
  <form class="" name="writeFrom" id="writeForm" action="" method="post">
    <input type="hidden" name="content" value="">
    <div class="form-group">
      <label for="subject">제목</label>
      <input class="write-subject form-control" type="text" name="subject" value="" placeholder="제목을 입력해 주세요.">
    </div>
  </form>

  <label for="summernote">내용</label>
  <div class="" id="summernote"></div>

  <div class="btns">
    <button class="write_btn btn btn-sm btn-success" type="button" name="button">글작성</button>
  </div>
</article>
