<article #viewDiv class="container article_div col-xl-6 col-lg-6 col-md-12 col-sm-12">
  <h6 class=""> 글보기 </h6>
  <h5 #view_subject class="view_subject card-header"> 제목 </h5>
  <div #view_content class="view_content card-body" style=""> 내용 </div>
  <div class="card-footer text-muted"> 2 시간 전</div>
  <div class="btns text-muted">
    <button class="modify_btn btn btn-sm btn-warning" type="button" name="button">글수정</button>
    <button class="delete_btn btn btn-sm btn-danger" type="button" name="button">글삭제</button>
  </div>
</article>
